header {
	vertical-align: middle;
    min-height: 50px;
    border-bottom: solid;
}

footer {
    vertical-align: middle;
    min-height: 50px;
    border-top: solid;
}

section {
	min-height: 500px;
}

form {
	display: inline-block;
}

.header-title {
	display: inline-block;
	font-size: 30px;
	margin: 5px;
}

.header-btn-group {
	display: inline-block;
	height: 100%;
}

.section-header {
	border-bottom: 1px solid;
}

