@charset "UTF-8";

.error {
	color: red;
}

button {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

table.tbl-border {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

table.tbl-border th, td {
	border: 1px solid black;
}

table.tbl-border th, td {
	margin: 0; padding : 5px;
	text-align: left;
	padding: 5px;
}

.action {
	padding: 5px 0px;
}